header
    background white
    box-shadow rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px
    padding 10px

.App-Logo
    border-right 1px solid $vutd_vltgray
    display inline-block
    margin 0
    padding 10px 30px 0 20px
    vertical-align top
    img
        width 60px

.Doctor-Header
    display inline-block
    margin-left 20px
    width 500px
    figure
        margin 0
        padding 0
        img
            width 80px
        figcaption
            display inline-block
            margin-top 16px
            padding-left 10px
            vertical-align top
            div
                display inline-block
                width 400px
                div
                    display block

.Doctor-Name
    color $vutd_gray
    font-family 'rb'
    font-size 1.3rem

.Doctor-Title
    color $vutd_gray
    font-family 'rl'
    font-size .9rem
