@font-face
    font-family 'rb'
    src url('../../build/fonts/roboto/Roboto-Bold-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rbi'
    src url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rbi'
    src url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-BoldItalic-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'ri'
    src url('../../build/fonts/roboto/Roboto-Italic-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-Italic-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-Italic-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-Italic-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rl'
    src url('../../build/fonts/roboto/Roboto-Light-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-Light-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rl'
    src url('../../build/fonts/roboto/Roboto-Light-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-Light-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rli'
    src url('../../build/fonts/roboto/Roboto-LightItalic-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-LightItalic-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-LightItalic-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-LightItalic-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rm'
    src url('../../build/fonts/roboto/Roboto-Medium-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-Medium-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-Medium-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rmi'
    src url('../../build/fonts/roboto/Roboto-MediumItalic-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-MediumItalic-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-MediumItalic-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-MediumItalic-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rr'
    src url('../../build/fonts/roboto/Roboto-Regular-webfont.eot');
    src url('../../build/fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../build/fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
        url('../../build/fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
        url('../../build/fonts/roboto/Roboto-Regular-webfont.svg#robotobold') format('svg')
    font-weight normal
    font-style normal
