.loginWrapper {
    padding: 50px 0;
    text-align: center;
    figure {
        display: inline-block;
        margin: 0;
        padding: 0;
        img {
            width: 200px;
        }
    }
    article {
        p {
            margin: 0;
            input {
                background: transparent;
                border: 0px solid transparent;
                border-bottom: 2px solid $rm_ltgray;
                display: inline-block;
                margin-top: 0 !important;
                min-width: 300px;
                outline: none;
                padding: 10px 10px 10px 0;
                &:focus {
                    border-bottom: 2px solid $rm_blue;
                }
            }
        }
    }
}
.btnWrapper {
    margin-top: 20px;
}
.loginDisclaimer {
    font-family: "rl";
    margin-top: 40px;
    color: $rm_ltgray;
}
.toggleWrapper {
    display: inline-block;
    max-width: 256px;
    margin-top: 20px;
    min-width: 256px;
    & label {
        color: $rm_ltgray !important;
    }
}
